:root{
    --pruprle:#7c3aed;
    --padleft:1.25rem ;
}
section:not(#home){
    padding: 3.125rem 0;
}
.navbar-nav .nav-link.active {
    color: var(--pruprle);
}

.navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--padleft);
}
.card{
    height: calc(100vh - 82.25px);
}
section#home{
    background-image:
     /* linear-gradient(var(--pruprle), var(--pruprle)), */
    url(image/home-image.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position: right;
}
section#home .backfilter{
    background-color: #7c3aed;
    width: inherit;
    height: inherit;
    opacity: .7;
    filter: brightness(.7);
}

