:root{
    --pruprle:#7c3aed;
    --padleft:1.25rem ;
    --color-violet-700: oklch(49.1% .27 292.581);
    --color-red-400: oklch(70.4% .191 22.216);
    --color-red-500: oklch(63.7% .237 25.331);
    --color-amber-400: oklch(82.8% .189 84.429);
    --color-amber-500: #fe9a00;
    --color-amber-600: #e17100;
    --color-yellow-100: oklch(97.3% .071 103.193);
    --color-yellow-600: oklch(68.1% .162 75.834);
    --color-yellow-700: oklch(55.4% .135 66.442);
    --color-green-50: oklch(98.2% .018 155.826);
    --color-green-100: oklch(96.2% .044 156.743);
    --color-green-200: oklch(92.5% .084 155.995);
    --color-green-600: oklch(62.7% .194 149.214);
    --color-green-700: oklch(52.7% .154 150.069);
    --color-indigo-100: oklch(93% .034 272.788);
    --color-indigo-300: oklch(78.5% .115 274.713);
    --color-indigo-500: oklch(58.5% .233 277.117);
    --color-indigo-600: oklch(51.1% .262 276.966);
    --color-indigo-700: oklch(45.7% .24 277.023);
    --color-violet-50: oklch(96.9% .016 293.756);
    --color-violet-100: oklch(94.3% .029 294.588);
    --color-violet-200: oklch(89.4% .057 293.283);
    --color-violet-300: oklch(81.1% .111 293.571);
    --color-violet-400: oklch(70.2% .183 293.541);
    --color-violet-500: oklch(60.6% .25 292.717);
    --color-violet-600: oklch(54.1% .281 293.009);
    --color-violet-700: oklch(49.1% .27 292.581);
    --color-violet-900: oklch(38% .189 293.745);
    --color-purple-50: oklch(97.7% .014 308.299);
    --color-purple-100: oklch(94.6% .033 307.174);
    --color-purple-200: oklch(90.2% .063 306.703);
    --color-purple-300: oklch(82.7% .119 306.383);
    --color-purple-500: oklch(62.7% .265 303.9);
    --color-purple-600: oklch(55.8% .288 302.321);
    --color-purple-700: oklch(49.6% .265 301.924);
    --color-purple-900: oklch(38.1% .176 304.987);
    --color-fuchsia-300: oklch(83.3% .145 321.434);
    --color-fuchsia-400: oklch(74% .238 322.16);
    --color-fuchsia-500: oklch(66.7% .295 322.15);
    --color-pink-600: oklch(59.2% .249 .584);
    --color-slate-200: oklch(92.9% .013 255.508);
    --color-slate-700: oklch(37.2% .044 257.287);
    --color-slate-800: oklch(27.9% .041 260.031);
    --color-gray-50: oklch(98.5% .002 247.839);
    --color-gray-100: oklch(96.7% .003 264.542);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-gray-300: oklch(87.2% .01 258.338);
    --color-gray-400: oklch(70.7% .022 261.325);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-600: oklch(44.6% .03 256.802);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-gray-800: oklch(27.8% .033 256.848);
    --color-gray-900: oklch(21% .034 264.665);
    --color-black: #000;
    --color-white: #fff;
    --spacing: .25rem;
    --container-2xl: 42rem;
    --container-3xl: 48rem;
    --container-4xl: 56rem;
    --container-6xl: 72rem;
    --container-7xl: 80rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 1.2;
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --tracking-wider: .05em;
    --leading-tight: 1.25;
    --leading-relaxed: 1.625;
    --radius-lg: .5rem;
    --radius-xl: .75rem;
    --radius-2xl: 1rem;
    --ease-in-out: cubic-bezier(.4, 0, .2, 1);
    --blur-sm: 8px;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
}
*{
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}
section:not(#home){
    padding: 3.125rem 0;
}
.navbar-nav .nav-link.active {
    color: var(--pruprle);
}
.w-8{
    width: calc(var(--spacing) * 8);
}
.h-8 {
    height: calc(var(--spacing) * 8);
}
.mr-2{
    margin-right: calc(var(--spacing) * 2);
}
.text-gary-light{
    color: rgb(251, 251, 251);
}
.text-violte{
    color: var(--color-violet-700);
}
.text-gray-500{
    color: var(--color-gray-500);
}
.text-gray-600{
    color: var(--color-gray-600);
}
.text-gray-700{
    color: var(--color-gray-700);
}
.text-gray-900{
    color: var(--color-gray-900);
}
.leading-relaxed{
    line-height: var(--leading-relaxed);
}
.max-w-4xl {
    max-width: var(--container-4xl);
}
.h-64{
    height: calc(var(--spacing) * 64);
}
.h-22{
    height: .125rem;
}
.w-16{
    width: calc(.25rem * 16);
}
.overflow-hidden{
    overflow: hidden;
}
.object-cover{
    object-fit: cover;
}
.navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--padleft);
}
.navbar-hover:hover{
    color: var(--color-violet-500);
    background-color:var(--color-violet-100) ;
}
.heart-hover:hover{
    color: red;
}
.heart-hover{
    top: 0;
    right: 0;
    padding: 15px 6px;
    border-radius: 40%;
    margin: 5px;
}
.text-gray-600 {
    color: var(--color-gray-600);
}
.card-bottom{
    color: var(--color-violet-500);
    background-color: var(--color-violet-100);
}

.bg-white-90 {
        background-color: color-mix(in oklab, var(--color-white) 90%, transparent);
    }
.bg-white {
        background-color: var(--color-white);
    }
.bg-gray {
        background-color: var(--color-gray-100);
    }
.card-1bage{
    background-color: var(--color-violet-500);
}
.badge-photo{
    top: 0;
    left: 0;
    margin: .3125rem;
}
.rounded-2xl{
    border-radius: var(--radius-2xl);
}

.duration-300{
    --tw-duration: .3s;
    transition-duration: .3s;
}
.bage-icon-photo{
    bottom: .25rem;
    left: .25rem;
}


section#home .card{
    height: calc(100vh - 82.25px);
}
section#home{
   background-image: linear-gradient(to right, #4d179acc, #59168bcc), url(image/home-image.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position: right;
}
.backfilter{
    width: 50%;
    margin: auto;
}
form{
    background-color:white;  
    text-align: center;
}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
}
.btn-purple{
background-color: var(--pruprle);
 --bs-btn-hover-border-color:var(--color-violet-700) ;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  color: #fff;
  padding: .9375rem;
}
.btn-purple:hover{
    background-color: var(--color-violet-700);
    color: #fff;
}

.text-gradient{
   background: linear-gradient(90deg, #7C3AED 30%, #FE9A00 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.text-transparent {
    color: #0000;
}
.text-xs{
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
}
.text-sm{
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
}
.text-xl{
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-heightt);
}
.text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
}

.bg-clip-text {
    background-clip: text;
}
.text-lg{
    font-size: 3rem;
    line-height: 1;
}
.text-g{
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
}
.text-s{
    font-size: var(text);
    line-height: var(--text-lg--line-height);
}
.line-color{
   background: #8E51FF;
background: linear-gradient(to left, #8E51FF 0%, transparent 100%);
}
.line-color-buttom{
   background: #8E51FF;
background: linear-gradient(to left, #8E51FF 100%, transparent 100%);
}
.line-color-right{
       background: #8E51FF;
background: linear-gradient(to right, #8E51FF 0%, transparent 100%);
}
.border-voilet{
    border:1px solid  var(--color-violet-200);
}
.border-gray{
    border:1px solid  var(--color-gray-100);
}

.bg-voilet{
    background-color: var(--color-violet-100);
}
.bg-voilet-400{
    background-color: var(--color-violet-400);
}
.bg-voilet-50{
    background-color: var(--color-violet-50);
}

.bg-voilet-900{
    background-color: var(--color-violet-900);
}
.bg-voilet-600{
    background-color: var(--color-violet-600);
}
.bg-gray-50{
    background-color: var(--color-gray-50);
}
.color-voiltet{
    color: var(--color-violet-500);
}
.color-red{
    color: var(--color-red-400);
}
.color-blue{
    color: var(--color-indigo-500);
}
.color-white{
    color: #fff;
}
.bg-white{
    background-color: #fff;
}
.nav-pills {
    --bs-nav-pills-border-radius: 0;
    --bs-nav-pills-link-active-color: var(--color-violet-700);
    --bs-nav-pills-link-active-bg:var(--color-violet-200);
    border-bottom: 1px solid var(--color-gray-200);
}
section#serivces .nav {
    --bs-nav-link-color: var(--color-gray-600);
    --bs-nav-link-hover-color: var(--color-violet-500);
    --bs-nav-link-disabled-color: var(--color-violet-400);
}

section#serivces ul {
    text-decoration:none;
    list-style: none;
}
.text-amber-400{
    color: var(--color-amber-400);
}

.h-60 {
    height: 60% !important;
}
.h-96{
    height: calc(var(--spacing) * 96);
}
.mb-8{
    margin-bottom: calc(var(--spacing) * 8);
}
.mb-6{
    margin-bottom: calc(var(--spacing) * 6);
}
.mr-4 {
    margin-right: calc(var(--spacing) * 4);
}
.left-6{
    left: calc(var(--spacing) * -6);
}
.bottom-6{
    bottom: calc(var(--spacing) * -6);
}
.py-6{
    padding-block: calc(var(--spacing) * 6);
}
.px-8{
    padding-inline: calc(var(--spacing) * 8);
}
.p-6{
    padding: calc(var(--spacing) * 6);
}
.p-8 {
    padding: calc(var(--spacing) * 8);
}

.mx-auto {
    margin-inline: auto;
}
.max-w-4xl {
    max-width: var(--container-4xl);
}
.accordion-button {
    font-size: 1.25rem; 
}

.accordion-item{
    color: var(--color-gray-900);
    background-color: var(--bs-accordion-bg);
    border: 0;
}
.accordion {
    --bs-accordion-active-color: var(--color-gray-900);
    --bs-accordion-active-bg: var(--color-gray-100);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--color-gray-100);
}
.card-link{
    text-decoration: none
}
.contact-buttom{
transition: transform 0.3s ease;
}
.contact-buttom:hover{
    transform: scale(1.02);
}
.contact-card{
     transition: transform 0.3s ease;
}
.contact-card:hover{
    border: 1px solid var(--color-violet-500);
    transform: scale(1.05);
}
.contact-card:hover .icon-contact{
    transform: scale(1.05);
}
.icon-contact{
    transition: transform 0.3s ease;
}
.img-hover{
    transition: transform 0.3s ease;
}


.img-hover:hover{
  transform: scale(1.05);
}
form{
    background-color: white;
    text-align: left;
}
.send-message  .row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--color-violet-500);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--color-violet-200);
}
.form-select:focus {
    border-color: var(--color-violet-500);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--color-violet-200);
}
.form-check-input:checked{
    background-color:var(--color-violet-400);
    border-color: var(--color-violet-400);
}
.form-check-input:focus {
    border-color: var(--color-violet-200);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--color-violet-300)
}
@media screen and (max-width:1022px){
    .backfilter{
        width: 100%;
    }
}



